body {
  margin: 0;
  box-sizing: border-box;
  background-color: #fff;
  background: #190a71 url('./images/projectsBackground.jpeg') no-repeat fixed center;
  background-size: 100vh;
  background-origin: border-box;
  font-family: 'Libre Baskerville', serif;

}

@media screen and (max-width: 425px) {

                                  /* HEADER SECTION */
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    width: 100%;
  }
  header > h3{
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 1.5rem;  
    margin: 1rem;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    padding: 1.2rem;
  }
  .hamburger-menu div {
    width: 100%;
    height: 4px;
    background-color: whitesmoke;
    border-radius: 4px;
    transition: all 0.6s ease-in-out;
  }
  .hamburger-menu div:nth-child(2) {
    width: 80%;
  }
  .hamburger-menu div:nth-child(3) {
    width: 60%;
  }
  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
                                  /* DROPING MENU */
  .menu.show {
    display: block;
    position: absolute;
    top: 3rem;
    right: 0;
    width: 70%;
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
    background: rgba(64, 113, 192, .25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 45px 0 0 45px ;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  .menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #190a71;
    font-size: 1.3rem;
    text-shadow: 0px 0px 3px #000 ;
  }
  .menu li:last-child {
    border-bottom: none;
  
  }
                                  /* CLOSING LOOK OF HAMBURGER MENU */
  .hamburger-menu.open div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    width: 100%;
  }
  .hamburger-menu.open div:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.open div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    width: 100%;
  }
                                  /* HERO SECTION */
  .hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    color: whitesmoke;
  }
  .hero-section > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;

  }
  
  .hero-section > p{
    font-family: 'Libre Baskerville', serif;

  }
  .hero-section > img{
    width: 90%;
    border-radius: 50%;
    
  }
                                 /* PROJECTS SECTION */
  .projects-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 1rem;
    color: #FFFFFF;
    border-radius: 1rem;
    background: #009FFF;  
    background: -webkit-linear-gradient(to bottom, #d907ac, #190a71);  
    background: linear-gradient(to bottom, #d907ac, #190a71); 
    

  }
  .projects-title{
    margin: 1rem auto .5rem;
    font-family: 'Montserrat', sans-serif;
  }

  .projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem;
    height: 100%;
    width: 100%;
    
  }

  .panel{
    width: 90%;
    border-radius: 5px;
    color: #fff;
    margin: .5rem 0;
    cursor: pointer;
    position: relative;
    transition: all .6s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex: 1.2;
    background-size: cover;
    background-position: center center;
  }
  .panel:hover{
    -webkit-animation: blink-2 0.9s both;
    animation: blink-2 0.9s both;
    /* 
    -webkit-animation: blink-1 0.6s both;
    animation: blink-1 0.6s both; */
/*     -webkit-animation: vibrate-1 0.3s linear 0.5s both;
    animation: vibrate-1 0.4s linear 0.5s both; */
  }
  .panel > h3{
    font-size: 1.2rem;
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 0;
    visibility: hidden;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  .panel > p{
    font-size: .8rem;
    position: absolute;
    max-width: 80%;
    top: 20%;
    left: 5%;
    margin: 0;
    visibility: hidden;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  .netlify {
    font-size: 1rem;
    visibility: hidden;
  }
  .github{
    font-size: 1rem;
    visibility: hidden;
  }
  .panel.active{
    flex: 5;
  }
  .panel.active h3, 
  .panel.active p, 
  .panel.active .github,
  .panel.active .netlify {
    transition: all .6s ease-in-out .6s;
    visibility: visible;
  }

                                            /* LINKS */

  .link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s;
    margin: 0 1rem;
  }
  .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: #ffffff;
    transition: all .25s cubic-bezier(1, 0.68, 0.16, 0.9);
  }
  .link:hover {
    color: #d907ac;
  }
  .link:hover::after {
    right: 0;
    height: 2px;
    background: #d907ac;
  }
                                   /* PAST WORK SECTION */


  .past-work-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 11rem 11rem 11rem 4rem;
    grid-gap: 2rem;
    margin: 1rem auto;
    padding: 0 1rem 1rem 1rem;
  }
  .past-work--title{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
  }
  .past-work--body{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    background: #375FA3;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 0 .5rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    
  }
  .past-work--body.bottom-text{
    color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 5;
    justify-self: center;
    align-self: center;
    margin: 2rem auto;
  }
  .past-work--image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: .75rem;
  }
                              /*  PAST LIFE SECTION  */
  .life{
    background-color: #4071C0;
    border-radius: .75rem;
    color: #FFFFFF;
  }
                                /*  FOOTER SECTION  */
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-icons > img{
    width: 2rem;
  }
  .footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  footer > p{
    font-family: 'Playfair Display';
    font-size: .7rem;
    font-weight: 500;
    color: #4071C0;

  }
  
}

              /* TABLET SCREEN SIZE */

@media (min-width: 426px) and (max-width: 768px) {
  .menu.show {
    width: 50%;
  }
  .hero-section{
    margin:0 2rem;
  }
  .hero-section > h1{
    color: red;
    font-size: 2rem;
    text-align: left;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }
  .hero-section > p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: left;
    grid-column: 1;
    grid-row: 2;
  }
  .hero-section > img{
    width: 15rem;
    grid-column: 2;
    grid-row: 1 / -1;
    align-self: flex-start;
    justify-self: center;
    margin: 1rem;
  }
}

@media (min-width: 767px) and (max-width: 1024px){
  /* Styles for screens larger than or equal to 1024 pixels wide */
}



/* ANIMATIONS */

 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.3;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.3;
  }
}

@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}


