body {
  margin: 0;
  box-sizing: border-box;
  background: #190a71 url('/images/background.jpeg') no-repeat fixed center;
  background-size: cover;
  background-position: center center;
  background-origin: border-box;
  font-family: 'Libre Baskerville', serif;
  color: #FFFFFF;

}

bold{
  font-family: 'Londrina Outline', cursive;
  font-size: 2rem;
  font-style: italic;

}



                                  /* HEADER SECTION */
  header{
    position: relative;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  header > h3{
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 1.5rem;  
    margin: 0 0 0 1rem;
  }
  .hamburger-menu {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    padding: 1.2rem;
  }
  .hamburger-menu div {
    width: 100%;
    height: 4px;
    background-color: whitesmoke;
    border-radius: 4px;
    transition: all 0.6s ease-in-out;
  }
  .hamburger-menu div:nth-child(2) {
    width: 80%;
  }
  .hamburger-menu div:nth-child(3) {
    width: 60%;
  }
  .menu {
    display: none;
    font-size: 1.2rem;
    list-style: none;
    margin: 0;
    padding: 1rem;
    gap: 2rem;
  }
  /* DROPING MENU */
  .menu.show {
    position: absolute;
    display: flex;
    flex-direction: column;
    
    top: 4rem;
    right: 0;
    width: 100%;
    height: 100vh;
    animation: fadeIn 0.6s ease-in-out;
    background: rgba(64, 113, 192, .25);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 2px );
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  .menu a{
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 auto; 
    cursor: pointer;
    width: max-content;
    border-bottom: transparent solid 1px;
    transition: all 1s ease-in-out;
  }
  .menu a:hover{
    transform: scale(1.1);
    border-bottom: #ffffff solid 1px;

    /* text color animation */
    background: linear-gradient(
      to left,
      #fff 10%,
      #d907ac 40%,
      #fff 70%,
      #32F8FF 80%
  );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 3s ease-in-out 2 alternate;
  }
                                  /* CLOSING OF HAMBURGER MENU */
  .hamburger-menu.open div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    width: 100%;
  }
  .hamburger-menu.open div:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.open div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    width: 100%;
  }
                                  /* HERO SECTION */
  .hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
  }
  .hero-section > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
  }
  .hero-section > h1 > span{
    background: linear-gradient(
      to left,
      #d907ac 20%,
      #fff 30%,
      #0013FF 70%,
      #32F8FF 80%
  );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 6s ease-in-out infinite alternate;
    text-decoration: underline;
  }
  .hero-section > img{
    width: 100%;
    margin: 2rem 1rem;
    border-radius: 50%;
    opacity: .95;
    max-width: 500px;
    justify-self: center;
  }
  .hero-section > p{
    max-width: 500px;
  }
                                 /* PROJECTS SECTION */
  .projects-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 2rem 0;
    background: linear-gradient(to bottom, rgba(217, 7, 172, .8), rgba(25, 10, 113, .8)); 
    overflow: hidden;
    
  }
    .projects-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto 1rem;
      height: 100%;
      width: 100%;
    }
  .projects-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin: 2rem auto 1rem;
  }

  .panel{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex: 1.2;
    width: 90%;
    border-radius: 5px;
    margin: .5rem 0;
    background-size: cover;
    background-position: left center;
    transition: all .4s ease-in-out;
    cursor: pointer;
  }
  .panel:hover{
    -webkit-animation: vibrate-1 0.3s linear 0.6s both;
    animation: vibrate-1 0.6s linear 0.6s both;
    box-shadow: 0 0 25px rgba(217, 7, 172, .75);
  }
  .panel > h3{
    font-size: 1.8rem;
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 0;
    visibility: hidden;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  .panel > p{
    position: absolute;
    font-size: 1.1rem;
    line-height: 1.4rem;
    max-width: 70%;
    top: 25%;
    left: 5%;
    margin: 0;
    visibility: hidden;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  }
  .netlify {
    font-size: 1rem;
    visibility: hidden;
  }
  .github{
    font-size: 1rem;
    visibility: hidden;
  }
  .panel.active{
    flex: 12;
  }
  .panel.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    pointer-events: none;
  }
  .panel.active h3, 
  .panel.active p, 
  .panel.active .github,
  .panel.active .netlify {
    transition: all .6s ease-in-out .6s;
    visibility: visible;
  }
                                            /* LINKS */

  .link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s;
    margin: 0 1rem;
  }
  .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 2px;
    background: #ffffff;
    transition: all .25s cubic-bezier(1, 0.68, 0.16, 0.9);
  }
  .link:hover {
    color: #d907ac;
  }
  .link:hover::after {
    right: 0;
    height: 2px;
    background: #d907ac;
  }


                                  /* SKILLS SECTION */

  .about__content-skills{
    margin: 2rem 1rem;
    height: max-content;
  }

  .about__content-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #fff;
    display: block;
    margin: 2rem auto;
    width: max-content;
  }
  .skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .skills__skill{
    font-size: 1.3rem;
    display: inline-block;
    padding: 1.2rem 2rem;
    border: #fff solid 1px;
    color: #fff;
    background-color: transparent;
    border-radius: .5rem;
  }
  .skills__skill:hover{
    -webkit-animation: vibrate-1 0.3s linear 0.5s both;
    animation: vibrate-1 0.4s linear 0.5s both;
    box-shadow: 0 0 25px rgba(217, 7, 172, .65);
  }




                                   /* PAST WORK SECTION */

  .past-work-section{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    height: max-content;
    margin: 2rem 1rem;
    gap: 1rem;
  }
  .past-work--title{
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: max-content;
    font-size: 2.5rem;
    color: #FFFFFF;
    margin: 2rem auto;
    justify-self: center;
    align-self: baseline;
  }
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 33vh;
  perspective: 1000px; 
  margin: 1rem auto;
  opacity: .95;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
}
.flip-card-front {
  background-color: #bbb;
}
.flip-card-front > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateX(180deg);
}

                                        /*  PAST LIFE SECTION  */

.past-life-section{
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  background-image: linear-gradient(rgba(0,0,0, .25), rgba(0,0,0, .25)), url('/images/novi-sad-1.jpeg');
  background-size: cover;
  background-position: center center;
  text-shadow: 0 0 5px rgba(0, 0, 0, .7);
  border-radius: .75rem;
  margin: 2rem 1rem;
  padding-left: 1rem;
  height: max-content;
  opacity: .95;
}
.past-life--title{
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  width: 100%;
  margin: 2rem auto ;
}
.past-life--body{
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  width: 63%;
}
                                /*  FOOTER SECTION  */
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: #FFFFFF solid;
    padding: 2rem;
    margin: 0 1rem;
  }
  .footer-icons > img{
    width: 2.3rem;
    transition: all .6s ease-in-out; 
  }
  .footer-icons > img:hover{
    transform: rotate(360deg) scale(1.25);
  }
  .footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  footer > p{
    font-size: .7rem;
    font-weight: 400;
    color: rgba(41,249,255, 1);
    transition: all .6s ease-in-out;
  }
  footer > p:hover{
    transform: scale(1.2);
    color: rgba(217, 7, 172, 1);

  }
  /* TABLET SCREEN SIZE */
  @media (min-width: 426px) and (max-width: 629px){
    header > h3{
      font-size: 2.5rem;
    }
    .hero-section{
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: start;
      height: fit-content;
      margin: 8rem 1rem 0;
    }
    .hero-section > h1{
      font-size: 4rem;
      line-height: 3.4rem;
      grid-row: 1;
      grid-column: 1 / -1;
      margin: 2rem 0 1rem ;
    }
    .hero-section > img{
      grid-row: 1 / -1;
      grid-column: 3 / -1;
      z-index: -1;
      align-self: end;
      justify-self: baseline;
      margin: 0;
    }
    .hero-section > p{
      font-size: 1rem;
      line-height: 1.3rem;
      width: 115%;
      grid-row: 2;
      grid-column: 1 / 3;
      margin: 0;
      align-self: flex-end;
      justify-self: flex-start;
    }
    .projects-section{
      margin: 8rem 1rem 0;
    }
    .past-life-section{
      margin: 8rem 1rem 0;
    }
    .past-life--title{
      font-size: 3.5rem;
    }
    .past-life--body{
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
    .past-life--body > p{
      width: 100%;
    }
    .about__content-skills{
      margin: 8rem 1rem 0;
    }
    .past-work-section {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(213px, 1fr);
      gap: 1rem;
      grid-template-areas:
        "card1 card2"
        "card3 card4";

    }
    
    .past-work--title {
      margin: 8rem auto 0;

    }
    .flip-card:nth-child(1) {
      grid-area: card1;
    }
    
    .flip-card:nth-child(2) {
      grid-area: card2;
    }
    
    .flip-card:nth-child(3) {
      grid-area: card3;
    }
    
    .flip-card:nth-child(4) {
      grid-area: card4;
    }
    footer{
      margin: 4rem 1rem 0;
    }
  }
  
@media (min-width: 630px) and (max-width: 768px) {
  header > h3{
    font-size: 2.5rem;
  }
  .hero-section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin: 6rem 1rem 0;
  }
  .hero-section > h1{
    font-size: 4.5rem;
    grid-row: 1;
    grid-column: 1 / -1;
    margin: 0;
  }
  .hero-section > img{
    grid-row: 1 / -1;
    grid-column: 3 / -1;
    margin: 0;
    z-index: -1;
  }
  .hero-section > p{
    grid-row: 2;
    grid-column: 1 / 3;
  }
  .projects-section{
    padding: 1rem; 
    background: linear-gradient(to left, rgba(217, 7, 172, .8), rgba(25, 10, 113, .8)); 
    margin: 10rem 1rem 0;
  }
  .projects-container{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2rem;
    gap: 1rem;
  }
  .projects-title{
    margin: 2rem auto 3rem;
    font-size: 3.5rem;
  }
  .about__content-title{
    font-size: 3.5rem;
  }
  .panel{
    width: 1%;
    margin:  0;
    height: 100%;
    align-items: end;
    justify-content: space-between;
    flex: 1;
  }
  .past-work-section {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(213px, 1fr);
    gap: 1rem;
    grid-template-areas:
      "card1 card2"
      "card3 card4";

  }
  
  .past-work--title {
    margin: 8rem auto 0;

  }
  .flip-card:nth-child(1) {
    grid-area: card1;
  }
  
  .flip-card:nth-child(2) {
    grid-area: card2;
  }
  
  .flip-card:nth-child(3) {
    grid-area: card3;
  }
  
  .flip-card:nth-child(4) {
    grid-area: card4;
  }

  .flip-card {
    margin: 0 auto;
  }
  .about__content-skills{
    margin: 10rem 1rem 0;
  }
  .past-life-section{
    margin: 10rem 1rem 0;
    }
    .past-life--title{
      font-size: 3.5rem;
      justify-self: center;
      align-self: center;
    }
  .past-life--body{
    justify-self: left;
    justify-content: left;
    align-items: start;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .past-life--body > p{
    width: 100%;
  }
  footer{
    margin: 10rem 1rem 0;
  }
  .footer-icons{
    gap: 2rem;
  }
  .footer-icons > img{
    margin-top: 2rem ;
    width: 3rem;
  }
  footer > p{
    font-size: .8rem;
  }

  
}
@media (min-width: 769px) and (max-width:850px) {
  header > h3{
    font-weight: 600;
    font-size: 2.5rem;
    max-height: max-content;
  }
  .hero-section{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: end;
    height: max-content;
    margin: 10rem 1rem 0;
  }
  .hero-section > h1{
    font-size: 5rem;
    grid-row: 1;
    grid-column: 1 / -1;
    margin: 0;
  }
  .hero-section > img{
    grid-row: 1 / -1;
    grid-column: 3 / -1;
    margin: 0;
    z-index: -1;
  }
  .hero-section > p{
    grid-row: 2;
    grid-column: 1 / 3;
    font-size: 1.5rem;
    width: 120%;
  }
  .projects-section{
    padding: 1rem; 
    background: linear-gradient(to left, rgba(217, 7, 172, .8), rgba(25, 10, 113, .8)); 
    margin: 10rem 1rem 0;
  }
  .projects-container{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2rem;
    gap: 1rem;
  }
  .projects-title{
    margin: 2rem auto 3rem;
    font-size: 3.5rem;
  }
  .about__content-title{
    font-size: 3.5rem;
  }
  .panel{
    width: 1%;
    margin:  0;
    height: 100%;
    align-items: end;
    justify-content: space-between;
    flex: 1;
  }
  .past-work-section {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(213px, 1fr);
    gap: 1rem;
    grid-template-areas:
      "card1 card2"
      "card3 card4";

  }
  
  .past-work--title {
    margin: 8rem auto 0;

  }
  .flip-card:nth-child(1) {
    grid-area: card1;
  }
  
  .flip-card:nth-child(2) {
    grid-area: card2;
  }
  
  .flip-card:nth-child(3) {
    grid-area: card3;
  }
  
  .flip-card:nth-child(4) {
    grid-area: card4;
  }

  .flip-card {
    margin: 0 auto;
  }
  .about__content-skills{
    margin: 10rem 1rem 0;
  }
  .skills{
    gap: 2rem;
  }
  .skills__skill{
    padding: 1.2rem;
    font-size: 1.2rem;
  }
  .past-life-section{
    margin: 10rem 1rem 0;
    }
  .past-life--title{
      font-size: 3.5rem;
      justify-self: center;
      align-self: center;
  }
  .past-life--body{
    justify-self: left;
    justify-content: left;
    align-items: start;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .past-life--body > p{
    width: 100%;
  }
  footer{
    margin: 10rem 1rem 0;
  }
  .footer-icons{
    gap: 2rem;
  }
  .footer-icons > img{
    margin-top: 2rem ;
    width: 3rem;
  }
  footer > p{
    font-size: .9rem;
  }



}


@media (min-width: 851px) and (max-width:1098px) {
  body{
    padding: 0 1rem;
  }
  /* HEADER SECTION */
  header{
    align-items: center;

  }
  header > h3{
    font-weight: 600;
    font-size: 2.5rem;
    max-height: max-content;
    margin: 1rem 2rem;
  }
  .hamburger-menu {
    display: none;
  }
  .menu{
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 1rem 2rem;
  }
  .menu li {
    font-size: 1rem;
    padding: .5rem;
    margin: .5rem 0;
  }
  .menu li:hover{
    animation: shake-bottom 1 1s;
    color: #d907ac;
    border-bottom: #d907ac solid;
    border-radius: 0.6rem;
  }
  .hero-section{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: end;
    height: max-content;
    margin: 10rem 1rem 0;
  }
  .hero-section > h1{
    font-size: 5rem;
    grid-row: 1;
    grid-column: 1 / -1;
    margin: 0;
  }
  .hero-section > img{
    grid-row: 1 / -1;
    grid-column: 3 / -1;
    margin: 0;
    z-index: -1;
  }
  .hero-section > p{
    grid-row: 2;
    grid-column: 1 / 3;
    font-size: 1.5rem;
    width: 120%;
  }
  .projects-section{
    padding: 1rem; 
    background: linear-gradient(to left, rgba(217, 7, 172, .8), rgba(25, 10, 113, .8)); 
    margin: 10rem 1rem 0;
  }
  .projects-container{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2rem;
    gap: 1rem;
  }
  .projects-title{
    margin: 2rem auto 3rem;
    font-size: 3.5rem;
  }
  .about__content-title{
    font-size: 3.5rem;
  }
  .panel{
    width: 1%;
    margin:  0;
    height: 100%;
    align-items: end;
    justify-content: space-between;
    flex: 1;
  }
  .past-work-section {
    max-width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 350px);
    grid-auto-rows: minmax(213px, 1fr);
    gap: 1rem;
    grid-template-areas:
      "card1 card2"
      "card3 card4";

  }
  
  .past-work--title {
    margin: 8rem auto 0;

  }
  .flip-card:nth-child(1) {
    grid-area: card1;
  }
  
  .flip-card:nth-child(2) {
    grid-area: card2;
  }
  
  .flip-card:nth-child(3) {
    grid-area: card3;
  }
  
  .flip-card:nth-child(4) {
    grid-area: card4;
  }

  .flip-card {
    margin: 0 auto;
  }
  .about__content-skills{
    margin: 10rem 1rem 0;
  }
  .skills{
    gap: 2rem;
  }
  .skills__skill{
    padding: 1.2rem;
    font-size: 1.2rem;
  }
  .past-life-section{
    margin: 10rem 1rem 0;
    }
  .past-life--title{
      font-size: 3.5rem;
      justify-self: center;
      align-self: center;
  }
  .past-life--body{
    justify-self: left;
    justify-content: left;
    align-items: start;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .past-life--body > p{
    width: 100%;
  }
  footer{
    margin: 10rem 1rem 0;
  }
  .footer-icons{
    gap: 2rem;
  }
  .footer-icons > img{
    margin-top: 2rem ;
    width: 3rem;
  }
  footer > p{
    font-size: .9rem;
  }



  
}

@media (min-width: 1099px) and (max-width: 1440px) {
  body{
    padding: 0 1rem;
  }
  /* HEADER SECTION */
  header{
    align-items: center;

  }
  header > h3{
    font-weight: 600;
    font-size: 2.5rem;
    max-height: max-content;
    margin: 1rem 2rem;
  }
  .hamburger-menu {
    display: none;
  }
  .menu{
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 1rem 2rem;
  }
  .menu li {
    font-size: 1rem;
    padding: .5rem;
    margin: .5rem;
  }
  .menu li:hover{
    animation: shake-bottom 1 1s;
    color: #d907ac;
    border-bottom: #d907ac solid;
    border-radius: 0.6rem;
  }
  .hero-section{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: start;
    height: max-content;
    margin: 6rem 1rem 0;
    gap: 1rem;
  }
  .hero-section > h1{
    font-size: 5rem;
    grid-row: 1;
    grid-column: 3 / -1;
    margin: 0;
  }
  .hero-section > img{
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    margin: 0;
    z-index: -1;

  }
  .hero-section > p{
    grid-row: 2;
    grid-column: 3 / -1;
    font-size: 1.5rem;
  }
  .projects-section{
    padding: 1rem; 
    background: linear-gradient(to left, rgba(217, 7, 172, .8), rgba(25, 10, 113, .8)); 
    margin: 10rem 1rem 0;
  }
  .projects-container{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2rem;
    gap: 1rem;
  }
  .projects-title{
    margin: 2rem auto 3rem;
    font-size: 3.5rem;
  }
  .about__content-title{
    font-size: 3.5rem;
  }
  .panel{
    width: 1%;
    margin:  0;
    height: 100%;
    align-items: end;
    justify-content: space-between;
    flex: 1;
  }
  .past-work-section {
    max-width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 400px);
    grid-auto-rows: minmax(213px, 1fr);
    gap: 1rem;
    grid-template-areas:
      "card1 card2"
      "card3 card4";

  }
  
  .past-work--title {
    margin: 8rem auto 0;

  }
  .flip-card:nth-child(1) {
    grid-area: card1;
  }
  
  .flip-card:nth-child(2) {
    grid-area: card2;
  }
  
  .flip-card:nth-child(3) {
    grid-area: card3;
  }
  
  .flip-card:nth-child(4) {
    grid-area: card4;
  }

  .flip-card {
    margin: 0 auto;
  }
  .about__content-skills{
    margin: 10rem 1rem 0;
  }
  .skills{
    gap: 2rem;
  }
  .skills__skill{
    padding: 1.2rem;
    font-size: 1.2rem;
  }
  .past-life-section{
    margin: 10rem 1rem 0;
    }
  .past-life--title{
      font-size: 3.5rem;
      justify-self: center;
      align-self: center;
  }
  .past-life--body{
    justify-self: left;
    justify-content: left;
    align-items: start;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .past-life--body > p{
    width: 100%;
  }
  footer{
    margin: 10rem 1rem 0;
  }
  .footer-icons{
    gap: 2rem;
  }
  .footer-icons > img{
    margin-top: 2rem ;
    width: 3rem;
  }
  footer > p{
    font-size: .9rem;
  }



  
}
@media (min-width: 1441px) {
  body{
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1600px;
  }
  /* HEADER SECTION */
  header{
    align-items: center;
  }
  header > h3{
    font-weight: 600;
    font-size: 2.5rem;
    max-height: max-content;
    margin: 1rem 2rem;
  }
  .hamburger-menu {
    display: none;
  }
  .menu{
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 1rem 2rem;
  }
  .menu li {
    font-size: 1rem;
    padding: .5rem;
    margin: .5rem;
  }
  .menu li:hover{
    animation: shake-bottom 1 1s;
    color: #d907ac;
    border-bottom: #d907ac solid;
    border-radius: 0.6rem;
  }
  .hero-section{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: start;
    height: max-content;
    margin: 6rem 1rem 0;
    gap: 1rem;
  }
  .hero-section > h1{
    font-size: 5rem;
    grid-row: 1;
    grid-column: 3 / -1;
    margin: 0;
  }
  .hero-section > img{
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    margin: 0;
    z-index: -1;
  }
  .hero-section > p{
    grid-row: 2;
    grid-column: 3 / -1;
    font-size: 1.5rem;
  }
  .projects-section{
    padding: 2rem; 
    background: linear-gradient(to left, rgba(217, 7, 172, .8), rgba(25, 10, 113, .8)); 
    margin: 10rem 1rem 0;
  }
  .projects-container{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2rem;
    gap: 1rem;
  }
  .projects-title{
    margin: 2rem auto 3rem;
    font-size: 3.5rem;
  }
  .about__content-title{
    font-size: 3.5rem;
    margin: 8rem auto;
  }
  .panel{
    width: 1%;
    margin:  0;
    height: 100%;
    align-items: end;
    justify-content: space-between;
    flex: 1;
  }
  .past-work-section {
    max-width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 400px);
    grid-auto-rows: minmax(213px, 1fr);
    gap: 1rem;
    grid-template-areas:
      "card1 card2"
      "card3 card4";

  }
  
  .past-work--title {
    margin: 8rem auto 0;

  }
  .flip-card:nth-child(1) {
    grid-area: card1;
  }
  
  .flip-card:nth-child(2) {
    grid-area: card2;
  }
  
  .flip-card:nth-child(3) {
    grid-area: card3;
  }
  
  .flip-card:nth-child(4) {
    grid-area: card4;
  }

  .flip-card {
    margin: 0 auto;
  }
  .about__content-skills{
    margin: 10rem 1rem 0;
  }
  .skills{
    gap: 2rem;
  }
  .skills__skill{
    padding: 1.2rem;
    font-size: 1.2rem;
  }
  .past-life-section{
    margin: 10rem 1rem 0;
    }
  .past-life--title{
      font-size: 3.5rem;
      justify-self: center;
      align-self: center;
  }
  .past-life--body{
    justify-self: left;
    justify-content: left;
    align-items: start;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .past-life--body > p{
    width: 100%;
  }
  footer{
    margin: 10rem 1rem 0;
  }
  .footer-icons{
    gap: 2rem;
  }
  .footer-icons > img{
    margin-top: 2rem ;
    width: 3rem;
  }
  footer > p{
    font-size: .9rem;
  }
}





/* ANIMATIONS */

@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}


 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.3;
  }
}

@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}