body {
  margin: 0;
  box-sizing: border-box;
  background-color: #fff;
}

@media screen and (max-width: 430px) {
                                  /* HEADER SECTION */
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4071C0;
    border-radius: 0px 0px 12px 12px;
    color: whitesmoke;
    box-shadow: 0px 0px 15px #4071C0;
    width: 100%;
  }
  header > h3{
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 1.5rem;  
    color: #FFFFFF;
    margin: 1rem;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    padding: 1.2rem;
  }
  .hamburger-menu div {
    width: 100%;
    height: 4px;
    background-color: whitesmoke;
    border-radius: 4px;
    transition: all 0.6s ease-in-out;
  }
  .hamburger-menu div:nth-child(2) {
    width: 80%;
  }
  .hamburger-menu div:nth-child(3) {
    width: 60%;
  }
  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
                                  /* DROPING MENU */
  .menu.show {
    display: block;
    position: absolute;
    top: 6rem;
    right: 0;
    width: 80%;
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
    background: rgba(64, 113, 192, .25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 45px 0 0 45px ;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  .menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #4071C0;
    font-size: 1.3rem;
    text-shadow: 0px 0px 5px #000 ;
  }
  .menu li:last-child {
    border-bottom: none;
  
  }
                                  /* CLOSING LOOK OF HAMBURGER MENU */
  .hamburger-menu.open div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    width: 100%;
  }
  .hamburger-menu.open div:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.open div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    width: 100%;
  }
                                  /* HERO SECTION */
  .hero-section{
    display: grid;
    grid-template: 5rem / 1fr 1fr;
    margin: 0 1rem;
  }
  .hero-section > h1{
    font-family: 'Playfair Display';
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin: 2rem 0;
    grid-column: 1 / -1;
  }
  .hero-section > p{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: .8rem;
    line-height: .8rem;
    color: #000000;
    grid-column: 1;
    grid-row: 2;
    z-index: -1;
    align-self: center;
    justify-self: center;
  }
  .hero-section > img{
    width: 150px;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.5));
    border-radius: 12px;
    grid-column: 2;
    grid-row: 2;
    z-index: -1;
    align-self: center;
    justify-self: right;
  }
                                 /* PROJECTS SECTION */
  .projects-title{
    margin: 1rem auto .5rem;
  }
  .projects-subtitle{
    margin: 0 auto .5rem;
    font-size: .75rem;
  }
  .projects-section{
    display: flex;
    flex-direction: column;
    border-radius: .75rem;
    background: #4071C0;
    margin: 2rem 1rem;
    color: #FFFFFF;
    text-shadow: 0 0 5px #000 ;

  }
  .projects-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 500px;
  }

  .panel{
    width: 340px;
    border-radius: 50px;
    color: #fff;
    margin: .5rem auto;
    cursor: pointer;
    position: relative;
    transition: flex 1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 1;
  }
  .panel > img{
    width: 400px;
  }
  .panel h3{
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  .netlify {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  .github{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0;
    opacity: 0;
  }
  .panel.active{
    flex: 5;
  }
  .panel.active h3, 
  .panel.active .github,
  .panel.active .netlify {
    transition: opacity 0.5s ease-in 0.5s;
    opacity: 1;
  }

                                   /* PAST WORK SECTION */
  .past-work-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 1fr 1fr 1fr 4rem;
    grid-gap: 2rem;
    margin: 1rem auto;
    padding: 0 1rem;
  }
  .past-work--title{
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
  }
  .past-work--body{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    background: #375FA3;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 0 .5rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);

  }
  .past-work--body.bottom-text{
    background: #375FA3;
    color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 5;
    justify-self: center;
    align-self: center;
  }
  .past-work--image{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: .75rem;
  }

}

@media screen and (max-width: 370px) {
  .panel{
    width: 280px;
  }
}
